@charset "UTF-8";

/* all elements */
*
{
    box-sizing: border-box;
}
body
{
    margin: 0; /* remove the default margin between navbar and sides */
}

/* vertical navigation bar */
nav
{
    position: fixed;
    top: 0; /* position navbar at the top of page */
    width: 10%;
    height: 100%;
    z-index: 1; /* place dropdowns in front of other elements */
    background-color: pink;
}
nav ul
{
    margin: 0; /* remove default setting */
    padding: 0; /* remove default setting */
    list-style-type: none; /* remove bullets */
}
nav ul li:hover
{
    background-color: limeGreen;
}
nav ul li a
{
    display: block; /* display links as block elements */
    padding: 8px;
    text-decoration: none; /* remove underline */
}
nav ul li a:after
{
    content: "\25B6"; /* black right-pointing triangle */
}
nav ul ul
{
    display: none; /* hide dropdowns by default */
    position: relative; /* indispensable */
    background-color: snow;
    top: 0; /* rectify the position of submenus */
    left: 100%; /* rectify the position of submenus */
    white-space: nowrap; /* Text continues on the same line. */
}
nav ul li:hover > ul /* display dropdowns on hover */
{
    display: block;
}
nav ul ul li /* 1st level dropdowns */
{
    position: relative; /* place submenus right below their parent menu */
}
nav ul ul li:hover
{
    background-color: dodgerBlue;
}
nav ul ul li a
{
    padding: 5px 35px 5px 8px; /* top right bottom left */
    color: black;
}
nav ul li a:only-child:after
{
    content: "";
}
nav ul ul li a:only-child
{
    padding-right: 8px;
}

header h1
{
    text-align: center;
    color: red;
}

main
{
    float: left;
    margin-left: 10%;
    width: 80%;
}
article
{
    margin: 0 8px 8px;
    padding: 24px;
    background-color: honeyDew;
}
article h2
{
    margin: 0 0 8px;
    border-bottom: 1px solid deepPink;
    border-left: 16px solid deepPink;
    padding-left: 8px;
}
section
{
    text-align: center;
}
section p
{
    display: inline-block;
    margin: 0;
    text-align: left;
    color: purple;
}
summary
{
    color: deepPink;
}

aside
{
    float: right;
    width: 10%;
    background-color: pink;
}

/* demo */
audio,
video
{
    display: block;
    margin: auto;
    width: 81%;
}
