@charset "UTF-8";

/* all elements */
*
{
    box-sizing: border-box;
}
body
{
    margin: 0; /* remove the default margin between navbar and sides */
}

nav
{
    float: left;
    width: 10%;
    z-index: 1; /* place dropdowns in front of other elements */
}
header
{
    float: right;
    width: 90%;
}
header h1
{
    text-align: center;
    color: purple;
}

main
{
    float: right;
    width: 80%;
}
section
{
    text-align: center;
}
section p
{
    display: inline-block;
    margin: 0;
    text-align: left;
}
summary
{
    color: deepPink;
}

/* demo */
audio,
video
{
    display: block;
    margin: auto;
    width: 81%;
}
